body {
    font-family: 'Arial', sans-serif;
    background-color: #1B0000;
    display: flex;
    justify-content: center;
       height: 100vh;
    margin: 0;
}
.signup-form {
    padding: 20px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blur effect for the background */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}




.signup-form h1 {
    text-align: center;
}

.signup-form form {
    display: grid;
    gap: 10px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    position: relative;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid transparent; /* Make border transparent instead of removing it to avoid shifting content */
    background-color: #5E81AC;
    color: white;
    cursor: pointer;
    overflow: hidden; /* Ensures pseudo-elements are clipped to the button's border radius */
    transition: color 0.3s ease, background-color 0.3s ease;
    font-size: 16px; /* Adjust based on your preference */
    text-align: center;
    text-decoration: none; /* Remove underline from links styled as buttons */
    display: inline-block; /* Allows the use of padding and width/height */
}

button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white; /* Underline color */
    transition: width 0.3s ease, left 0.3s ease; /* Smooth transition for the growing effect */
}

button:hover::before {
    width: 100%;
    left: 0;
}

button:hover {
    background-color: #4C669F; /* Change color on hover */
}

button:focus {
    outline: none; /* Remove outline on focus for aesthetic reasons, but consider accessibility implications */
}

button:active {
    transform: scale(0.98); /* Slightly shrink button when clicked for a tactile feel */
}



/* Add more styles as needed */
/.blur-effect {
    filter: blur(4px);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1s ease-out;
}

/* Basic styling */
body {
    font-family: 'Arial', sans-serif;
    /* Other body styles */
}


/input:focus {
    filter: blur(2px); /* Blur effect on focus */
}

.center-flex {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full height of the viewport */
}

/.center-Mode1 {
    display: Mode1;
align-items: center;
}

#toggle-theme {
  background-color: #ddd;
  color: #555;
  border: 0;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#toggle-theme.dark-mode {
  background-color: #333;
  color: #fff;
}
